.custom-footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: white;
}

.footer-image {
 max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 1rem;
}
@media(max-width: 425px) {
  .custom-footer {
    margin-top: 3rem;
  }
}