*,
*::before,
*::after {
  box-sizing: border-box
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Img header */
.custom-header-image {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-custom-img {
  display: block;
  margin: 0 auto;
  height: 50px;
  object-fit: contain;
}

/* Toolbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.lingue-login {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  overflow: visible;
  position: fixed;
  top: 10px;
  right: 20px;
}

.lingue-select > div {
  padding: 0;
}

.lingue-select, .login-icon {
  transition: transform .18s ease !important;
  display: block;
}

.lingue-select button:hover, .login-icon:hover {
  transform: translateY(-3px) rotate(-2.5deg) !important;
}

.lingue-select button {
  border: none;
}

.lingue-select button::after {
  display: none !important;  /* Remove the arrow*/
}

.logout-link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-link:hover {
  color: red;
}
