#reader {
  margin: 4rem;
}
#html5-qrcode-button-camera-permission {
      background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
}